body {
  font-size: 14px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.pdl-10 {
  padding-left: 10px;
}

.pagination .page-item .page-link {
  color: #000000;
}

.pagination .active .page-link {
  color: #ffffff;
}

.pagination .active {
  --bs-pagination-color: green;
}

.mw-25 {
  max-width: 25%;
}
